.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 282px;
  min-height: 54px;
  margin: 26px 0 0;
}

@media screen and (min-width: 768px) {
    .profile__info {
      width: 336px;
      min-height: 73px;
      margin: auto 0 auto 30px;
    }
}